<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dragon Glass</title>
    <link rel="stylesheet" href="http://teasquat.com/css/lumen.min.css" charset="utf-8">
    <style type="text/css">
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>

    <h1 class="page-header center">{{ Person.name }}</h1>

    {%for project in Project.all%}
      <div class="panel panel-default">
        <div class="panel-heading center">
          <h4>{{ project.name }}</h4>
        </div>
        <div class="panel-body">
          {%if Person.current_snippet.project.name == project.name%}
            <form class="" method="post">
              <input type="submit" class="btn btn-danger btn-lg btn-block" value="Stop">
               {% csrf_token %}
            </form>
          {%else%}
            <a href="#" class="btn btn-success btn-lg btn-block">Start</a>
          {%endif%}
        </div>
      </div>
    {%endfor%}
  </body>
</html>
